DB_DSN=go:password@tcp(db:3306)/barterswap?parseTime=true

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=barterswap
MYSQL_USER=go
MYSQL_PASSWORD=password

PMA_HOST=db
PMA_USER=go
PMA_PASSWORD=password

PORT=8080